
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    color:black;
}
.container{
    width: 100%;
}
.First_container{
    height: 100vh;
    border:3px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
}
.nav_bar{
    width:100%;
    display: flex;
    padding-bottom: 2vh;
    box-shadow:2px 2px 4px rgb(85, 85, 183);
    height: 4.5rem;
    
}
.logo{
    width:50%;
    display: flex;
    margin-left:2rem;
}
.logo h2{
    margin-top: 5vh;
    font-size:30px;
    font-weight: bolder;
    font-family:'myfont';
}
span{
    color:rgb(58, 58, 160);
    font-weight: bolder;
}
.menu{
  
    width: 50%;
    display: flex;
    margin-top:3vh;
    
}
.img1{
    width:40px;
    margin-left:50%;
    cursor: pointer;
    display: block;
}
.img1:hover{
    background-color: rgb(119, 138, 138);
    border-radius:4px ;
}
.img2{
    width:45px;
    margin-left:24%;
    cursor: pointer;
    position: absolute;
    margin-top:1px;
    display: none;
}
.img2:hover{
    background-color: rgb(119, 138, 138);
    border-radius:4px ;
}
.resume_container{
    position: absolute;
    margin-left:30%;
    border:2px solid black;
    width:200px;
    display: flex;
    background-color: rgb(58,58,160);
    justify-content: space-evenly;
    color:white;
    cursor: pointer;
    border:none;
    border-radius: 10px;
    padding-bottom:0.5rem;
    padding-top:0.5rem;
}
.resume{
    width:30px;
}
.resume3{
    margin-left:-2.5rem;
    font-size: 20px;
    margin-top:5px;
}

.main_container{
    height: 90%;
    display: flex;
}
.introduction{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.introduction h1{
    line-height: 45px;
    font-size: 45px;
    margin-left:15rem;
}
.introduction h3{
    margin-left:10.5rem;
    margin-top:10px;
    font-size: 20px;
    color:blueviolet;
}
.introduction button{
    padding-left:2.5rem;
    padding-right:2.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
    border-radius: 1.8rem;
    border:none;
    margin-top:1rem;
    margin-left:2.3rem;
    background-color: blue;
    color:white;
    cursor: pointer;
    font-size: 16px;
}
button a{
    text-decoration: none;
    font-size: 18px;
    color:white;
}
.icons{
    display: flex;
    margin-top:1rem;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
li img{
    width:40px;
    border-radius: 10px;
    margin-left:10px;
}
.picture{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture img{
    width:400px;
    border-radius: 50%;
    border:5px solid rgb(44, 39, 39);
    box-shadow:  1px 1px 2px black;
    margin-left:-12rem;
}
.section1{
    display: flex;
    flex-direction: row;
    height: 90vh;
    border:3px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;

}
.About_img{
    width: 50%;

}
.about_img1{
    width:400px;
    float:right;
    margin-top:15%;
}
.About_content{
    width:50%;
    margin-left:2rem;
}
.About_content h4{
    margin-top:15%;
    /* margin-left:8%; */
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    font-size: 20px;
}
.About_content h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-top:1rem;
    width:75%;
    line-height: 40px;
}
.About_content p{
    color:gray;
    width: 75%;
    margin-top:20px;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 25px;
}
.section2{
    /* height: 1vh; */
    border:3px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;
}
.section2 h4{
    margin-top:1rem;
    color:blue;
    font-weight: bolder;
    font-size: 20px;
}
.card{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    height: 40rem;
    width:30rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.card img{
    width:100%;
    height: 20rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h2{
    margin-top:2rem;
    margin-left:5%;
}
.card p{
    margin-top:1rem;
    color:gray;
    line-height: 25px;
    width:90%;
    margin-left:5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.card button{
    width:150px;
    height: 50px;
    background-color: blue;
    color:white;
    margin-left:5%;
    margin-top:1rem;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .First_container{
        height: 120vh;
    }
    .logo{
        width:30%;
    }
    .logo h2{
        margin:0;
        padding:0;
        font-size: 1rem;
        font-weight: bolder;
        margin-top:1.5rem;
        margin-left:-19px;
    }
    .menu{
        width:70%;
        height: 70px;
        margin:0;
    }
        
    .img1{
        width:28px;
        cursor: pointer;
        position: absolute;
        margin:0;
        margin-left:10%;
        margin-top:1rem;

    }
    .img2{
        width:30px;
        display: block;
        margin:0;
        margin-left:10%;
        margin-top:1rem;
        
    }

    .resume_container{
        margin:0;
        margin-left:23%;
        width:150px;
        margin-top: 0.7rem;
        padding:0;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .resume{
        width:20px;
        margin-right:1rem;
    }
    .resume3{
        margin-left:-2.5rem;
        font-size: 18px;
        margin-top:-1px;
    }

.main_container{
    height: 90%;
    display: flex;
}
.introduction{
    position: absolute;
    width:100%;
    height: 50%;
    margin:0;
    margin-top:23rem;
}
.introduction h1{
    line-height: 45px;
    font-size: 40px;
    margin:0;
}
.introduction h3{
    margin:0;
    margin-right:40px;
    margin-top:10px;
}

.icons{
    display: flex;
    margin-top:1rem;
    margin-left:30px;
}
.picture{
    width:100%;
}
.picture img{
    width:290px;
    margin:0;
    margin-top:-17rem;
}
.section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    
}
.About_img{
    width:100%;
}
.about_img1{
    width:86%;
    margin:0;
    float:left;
    margin-top:5rem;
    margin-left:7%;
}
.About_content{
    margin:0;
    width:100%;
}
.About_content h4{
    margin-left:5%;
}
.About_content h2{
    width:93%;
    margin-left:5%;
    font-size: 23px;
    line-height: 30px;
    word-spacing: 1px;
}
.About_content p{
    width:95%;
    margin-left:5%;
}
.section2 h4{
    margin:0;
    margin-top:-7rem;
}
.card{
    width:80%;
    height: 45rem;
}


  }